.done {
  display: none;
}
.container {
  width: 98%;
  padding-top: 25px;
  background-color: white;
  border-radius: 7px;
}
body {
  background-image: url('https://subtlepatterns.com/patterns/notebook.png');
}
